<!--
Шаблон вывода содержимого блока контента

Содержит секции и переменные:

@content - секция основного блока контента, которая выводит листинг строк (@rows), заголовок блока (@block_name) и описание блока контента (@block_description)
@block_name - секция определяющая внешний вид заголовка блока контента
@block_description - секция определяющая внешний вид описания блока контента
@row - секция определяющая внешний вид строки контента, которая выводит набор произвольных полей данного модуля, например `somefield1`
@row_odd, @row_even - тоже самое что и секция @row, но для чётного/не чёного вывода. Имеют приоритет над секцией @row
@no_data - блок контента, который выводится в случае, если листинг пуст
@somefield1 - блок, который выводится вместо метки произвольного поля
@somefield1_null - блок, который выводится вместо метки произвольного поля, которое не содержит данных

Произвольные поля (отрабатываются только в секции @row_odd, @row_even, @row):
%somefield1% - метка произвольного поля, на которую будет заменено значение произвольного поля сроки блока контента
%somefield1_value% - перменная, которая содержит произвольно поле блока контента в секции @somefield1

Note: Под `somefield1` подразумевается идентификатор произвольного поля указанный в АИ

-->

<!-- @block_name -->
<h3>%block_name%</h3>
<!-- @block_description -->
<p>%block_description%</p>
<!-- @content -->
		%block_name%
		%block_description%
		<ul>
			%rows%
		</ul>
<!-- @row_odd -->
			<li>%somefield1%</li>
<!-- @row_even -->
			<li>%somefield1%</li>
<!-- @row -->
			<li>%somefield1%</li>
<!-- @somefield1 -->%somefield1_value%<!-- @somefield1_null -->
<!-- @no_data -->