<!-- @begin -->
<script type="text/javascript">
	var ccontainer = $('#content_container');
	ccontainer.find('.checkallbtn').button({
		icons: { primary: "ui-icon-check" }
	});
	ccontainer.find('.uncheckallbtn').button({
		icons: { primary: "ui-icon-arrowrefresh-1-n" }
	});
	ccontainer.find('.invertcheckbtn').button({
		icons: { primary: "ui-icon-transferthick-e-w" }
	});
	ccontainer.find('.deletebtn').button({
		icons: { primary: "ui-icon-closethick" }
	});
	function checkall()
	{
		$('#messages_list').find('input[type=checkbox]').attr('checked','checked');
		return false;
	};
	function uncheckall()
	{
		$('#messages_list').find('input[type=checkbox]').removeAttr('checked');
		return false;
	};
	function invertcheck()
	{
		$('#messages_list input[type=checkbox]').each(function(){
			$(this).is(':checked') ? $(this).removeAttr('checked') : $(this).attr('checked','checked');
		});
		return false;
	};
</script>
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#feedback_modul_base_name#]</span> (%submodul_name%)</span>
<div id="page_container">
 <div id="content_container">
  <div class="content">
  <h3>[#feedback_messages_list#]</h3>
  <form action="%form_action%" method="POST" name="messages_list" id="messages_list">
	<table class="admin_table" style="margin-bottom:10px;">
		<tr>
			<th>&nbsp;</th>
			<th>[#feedback_message_pubdate#]</th>
			<th>[#feedback_message_name#]</th>
			<th>[#feedback_message_email#]</th>
			<th>[#feedback_message_theme#]</th>
			<th width="360">[#feedback_message_message#]</th>
			<th>[#feedback_message_status#]</th>
		</tr>
<!-- @end -->
	</table>
	<fieldset style="border-top:1px solid #ededed; padding-top:10px;">
	 <button class="checkallbtn" onclick="return checkall();">[#feedback_message_action_check_all#]</button>
	 <button class="uncheckallbtn" onclick="return uncheckall();">[#feedback_message_action_uncheck_all#]</button>
	 <button class="invertcheckbtn" onclick="return invertcheck();">[#feedback_message_action_invertcheck_all#]</button>
	 <input class="deletebtn" type="submit" style="float:right;margin-right:10px;" name="submit" value="[#feedback_message_action_delete#]"/>
	</fieldset>
	<center>%pages%</center>
  </form>
 </div>
</div>
</div>
<!-- @row -->
		<tr>
			<td><input type="checkbox" name="mess[%id%]" value="%id%"></td>
			<td>%pubdate%</td>
			<td>%name%</td>
			<td>%email%</td>
			<td>%theme%</td>
			<td width="360" style="text-align:left;">%message%</td>
			<td>%status%</td>
		</tr>
<!-- @pages -->
%first% %backward% %previous% %pages_block% %next% %forward% %last%
<!-- @page_first -->
<a href="#" onclick="jspub_click('%url%')">[#feedback_message_page_first#]</a>
<!-- @page_backward-->
<a href="#" onclick="jspub_click('%url%')">&laquo;</a>
<!-- @page_backward_disabled-->
&laquo;
<!-- @page_previous-->
<a href="#" onclick="jspub_click('%url%')">&laquo;</a>
<!-- @page_previous_disabled-->
&laquo;
<!-- @page_forward-->
<a href="#" onclick="jspub_click('%url%')">&raquo;</a>
<!-- @page_forward_disabled-->
&raquo;
<!-- @page_next-->
<a href="#" onclick="jspub_click('%url%')">&raquo;</a>
<!-- @page_next_disabled-->
&raquo;
<!-- @page_last -->
<a href="#" onclick="jspub_click('%url%')">[#feedback_message_page_last#]</a>
<!-- @page_active -->
<a href="#" onclick="jspub_click('%url%')">%page%</a>
<!-- @page_passive -->
%page%
<!-- @page_delimeter -->
&nbsp;-&nbsp;
<!-- @page_null -->
1
<!-- @list_null --><span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#feedback_modul_base_name#]</span> (%submodul_name%)</span>
<div id="page_container">
 <div id="content_container">
  <div class="content">
  <h3>[#feedback_messages_list#]</h3>
  <p>[#feedback_messages_list_null#]</p>
 </div>
</div>
</div>