<!--
Шаблон фотогалереи

Отображает фото из галереи

Содержит секции и переменные:

@list - формирование списка фотографий
%row% - переменная, которая будет заменена на блок @row, столько раз, сколько фотграфий в категории
@row_odd - Определяет внешний вид фотографий, имеющих нечетный номер в списке фотографий
@row_even - Определяет внешний вид фотографий, имеющих четный номер в списке фотографий
%odd_even%	-	Переменная, которая принимает значение «row_odd» или «row_even» в зависимости от того - четная или нечетная строка в таблице. Удобно использлвать для задания класса строки таблицы, чтобы добиться чередования. В таком случае, можно исаользовать только одну секцию %row%
@category_name - выводит название категории
@pages 	- Выводиться вместо переменной pages в блоке @list в том случае, если в сформированном архиве необходима постраничная навигация. Переменная page_block заменяется набором блоков @page_active и @page_passive (количество блоков соответствует количеству страниц в блоке) соединённых последовательно, между которым вставляется блок @delimiter.
 -->

<!-- ****************************************** Шаблон списка фотографий ****************************************** -->

<!-- @list -->
		<div id="photo" class="content">
			<p class="title">Фотогалерея</p>
			<div>
%row%
			</div>
%pages%
		</div>
<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox({
			openEffect	: 'none',
			closeEffect	: 'none'
		});		
	});	
</script>	
		


<!-- ****************************************** Шаблон имени категории ****************************************** -->
<!-- @category_name -->
%category_name_value%

<!-- ****************************************** Шаблон фотографии ****************************************** -->

<!-- @row -->
<a class="fancybox" href="%image1_value%"  data-fancybox-group="gallery" title="%name_value%"><img src="%image1_small%" alt=" " /></a>


<!-- ****************************************** Шаблон постраницчной навигации ****************************************** -->
<!--
Секции:

@page_first - 	Заменяется переменная first в блоке @pages, в том случае, если мы находимся не на самой первой странице. Используется для формирования ссылки перехода к этой самой первой странице.
@page_backward - 	Заменяется переменная backward в блоке @pages, в том случае, если страниц так много, что они разбиты на несколько блоков и текущая страница не входит в первый из них.
@page_previous - 	Заменяется переменная previous в блоке @pages, в том случае, если существует более одной страницы и необходимо вывести ссылку на предыдущую страницу относительно текущей.
@page_previous_disabled - Заменяется переменная previous в блоке @pages, в том случае, если существует более одной страницы, но текущая страница является первой и значит, что предыдущей страницы нет.
@page_next - Заменяется переменная next в блоке @pages, в том случае, если мы находимся не на самой последней странице. Используется для формирования ссылки перехода к следующей странице, относительно текущей.
@page_next_disabled - Заменяется переменная next в блоке @pages, в том случае, если мы находимся на самой первой странице.
@page_forward - Заменяется переменная forward в блоке @pages, в том случае, если страниц так много, что они разбиты на несколько блоков и текущая страница в любом из них, кроме последнего.
@page_forward_disabled - Заменяется переменная forward в блоке @pages, в том случае, если страниц так много, что они разбиты на несколько блоков и текущая страница входит в последний из них.
@page_last 	- Заменяется переменная last в блоке @pages, в том случае, если мы находимся не на самой последней странице. Используется для формирования ссылки перехода к этой самой последней странице.
@page_active - Используется для формирования переменной page_block в блоке @pages. Формируется для страницы списка товаров, на которую может перейти пользователь (то есть не для текущей страницы).
@page_passive - Используется для формирования переменной page_block в блоке @pages. Формируется для странице списка товаров, на которой сейчас находиться пользователь сайта (то есть для текущей страницы).
@page_delimeter - Используется для формирования переменной page_block в блоке @pages, Разделяет блоки @page_active и @page_passive друг от друга.
@page_null - Используется в том случае, если страниц так много, что необходимо показывать не все из них.
-->


<!-- @pages -->
<p>%first% %backward% %previous% %pages_block% %next% %forward% %last%</p>
<!-- @page_first -->
<a href="%link%">Начало</a>
<!-- @page_backward -->
<a href="%link%">&laquo;</a>
<!-- @page_backward_disabled -->
&laquo;
<!-- @page_previous -->
<a href="%link%">&laquo;</a>
<!-- @page_previous_disabled -->
&laquo;
<!-- @page_forward -->
<a href="%link%">&raquo;</a>
<!-- @page_forward_disabled -->
&raquo;
<!-- @page_next -->
<a href="%link%">&raquo;</a>
<!-- @page_next_disabled -->
&raquo;
<!-- @page_last -->
<a href="%link%">Конец</a>
<!-- @page_active -->
<a href="%link%">%page%</a>
<!-- @page_passive -->
%page%
<!-- @page_delimeter -->
&nbsp;-&nbsp;
<!-- @page_null -->
