<!-- @main -->
<span class="content_header">[#global_properties_CMS#] &rarr; <span class="black">Бэкап-файлы</span></span>
<div id="page_container">
 <div id="content_container">
 <div class="content">
%backup_table%
%uploaded_files%

 <form method="post" action="%form_action%" enctype="multipart/form-data">
  <fieldset>
   <input type="file" class="file" name="backup_file">
   <input type="submit" name="upload_backup" value="[#admin_backup_button_upload_file#]">
  </fieldset>
</form>
 </div>
 </div>
</div>
<script type="text/javascript">
    $(".button").button();
</script>

<!--  @backup_made_header -->
[#admin_backup_backup_made_table_header#]
<!--  @backup_uploaded_header -->
[#admin_backup_backup_uploaded_table_header#]


<!-- @backup_table_uploaded -->
<h3>%header%</h3>
<form method="post" id="form_backup_table_uploaded" action="%action%">
<table class="admin_table" id="backup_table_uploaded">
    <tr>
        <th class="first">&nbsp;</th>
        <th>[#admin_backup_table_num#]</th>
        <th>[#admin_backup_table_file#]</th>
        <th>[#admin_backup_table_date#]</th>
        <th>[#admin_backup_table_restore#]</th>
        <th>[#admin_backup_table_delete#]</th>
        <th>[#admin_backup_table_content#]</th>
  <th class="last">[#admin_backup_table_desc#]</th>
    </tr>
%lines%
</table>
<br>
<a href="#" onclick="$('#backup_table_uploaded').find('input[type=checkbox]').attr('checked', 'checked')">[#common_check_all#]</a>/<a href="#" onclick="$('#backup_table_uploaded').find('input[type=checkbox]').removeAttr('checked')">[#common_uncheck_all#]</a>
   <input type="button" class="button" name="delete_selected" value="[#common_delete_selected#]" onclick="if(confirm('[#common_delete_selected_confirm#]'))santaFormSubmit('form_backup_table_uploaded')">
<br><br>
</form>

<!-- @backup_table_made -->
<h3>%header%</h3>
<form method="post" id="form_backup_table_made" action="%action%">
<table class="admin_table" id="backup_table_made">
    <tr>
        <th class="first">&nbsp;</th>
        <th>[#admin_backup_table_num#]</th>
        <th>[#admin_backup_table_file#]</th>
        <th>[#admin_backup_table_date#]</th>
        <th>[#admin_backup_table_restore#]</th>
        <th>[#admin_backup_table_delete#]</th>
        <th>[#admin_backup_table_content#]</th>
        <th class="last">[#admin_backup_table_desc#]</th>
    </tr>
%lines%
</table>
<br>
<a href="#" onclick="$('#backup_table_made').find('input[type=checkbox]').attr('checked', 'checked')">[#common_check_all#]</a>/<a href="#" onclick="$('#backup_table_made').find('input[type=checkbox]').removeAttr('checked')">[#common_uncheck_all#]</a>
<input type="button" class="button" name="delete_selected" value="[#common_delete_selected#]" onclick="if(confirm('[#common_delete_selected_confirm#]')) santaFormSubmit('form_backup_table_made')">
<br><br>
</form>

<!-- @backup_table_row -->
    <tr [#tr_class#]>
        <td><input type="checkbox" name="bf[%id%]"></td>
        <td>%num_order%</td>
        <td><a href="%real_filename%" target="_top">%filename%</a></td>
        <td>%date%</td>
        <td><a href="#" onclick="jspub_confirm('backup&backup=restore_step1&id=%id%', '[#admin_backup_table_row_restore_confirm#]');">[#admin_backup_table_row_restore#]</a></td>
        <td><a href="#" onclick="jspub_confirm('backup&backup=delete&id=%id%', '[#admin_backup_table_row_delete_confirm#]');">[#admin_backup_table_row_delete#]</a></td>
        <td>%archive_content%</td>
        <td>%description%</td>
    </tr>
