<!--@main-->
<script type="text/javascript" src="/admin/js/jquery.easytooltip.js"></script>
<script type="text/javascript">
    $('#page_tabs').parent().tabs();
    $( ".submit, .button").button();



    $(function() {

        $('table .xss').tooltip({txt: '<b>XSS атака</b> - тип атаки позволяющий внедрить вредный код на сайт, выполняемый на стороне браузера конечного пользователя. Благодоря этому возможна кража кукисов, сесиий пользователей вашего сайта или ваших, если в вашем браузере исполнится данный код. Сайту он не вредит, однако благодоря кражи, можно, например получить логин и пароль в админку, что вполне достаточно для полного взлома сайта'});
        $('table .lfi').tooltip({txt: '<b>LFI атака</b> - тип атаки при котором злоумышленик пытается подключить и выполнить локальный файл на стороне сервера. <br/><b>Traversal</b> - злоумышленник пытается получить доступ к директориям и файлам через url и считать или выполнить их. <br/>При плохой защите можно получить например доступ к конфигурационным файлам или бекапам, где хранятся настройки системы'});
        $('table .sql').tooltip({txt: '<b>SQL injection</b> - тип атаки при котором злоумышленик пытается найти уязвимость в вашей базе данных. В случае плохой фильтрации  входящих данных сторонних модулей или функций системы злоумышленник может выполнить запрос в базу данных, откуда получить например логин и пароль админа, или создать нового админа'});
        $('table .php').tooltip({txt: '<b>PHP injection</b> - выполнение постороннего кода на сайте. В случае плохой фильтрации или использовании недопостимых функий разрабочиками системы злоумышленник может внедрить опасный код на сайте, с помощью которого сможет все!'});

        $('table .get').tooltip({txt: '<b>$_GET</b> данные передаваемые в  URL (строке браузера). Используются повсеместно.'});
        $('table .post').tooltip({txt: '<b>$_POST</b> - данные  передаваемые в теле запроса. Не видно в браузере. Используются повмесестно.'});
        $('table .cookie').tooltip({txt: '<b>$_COOKIE</b> - данные сохраняемые на компьютере пользователя. Используются для того чтобы запомнить посетителя и его настройки. Используется повсеместно. '});
        $('table .server').tooltip({txt: '<b>$_SERVER</b> - суперглобальная переменная, хранящая информацию сервера, а также некоторые данные поступающие от пользователя. К большому сожалению, многие разрабочики снисходительно относятся к данной переменной и не фильтруют, но в тоже время активно используют ее. А зря, ведь некоторые данные можно легко подделать (Например информация о браузере, реферер - могут быть неотфильтрованы, но в тоже время могут легко подделаны злоумышлеником) '});
        $('.tor').tooltip({txt: 'Внезапная смена IP адреса у пользователя или использование сетей TOR - вызывает большое подозрение. По факту - это не атака. Подобное действие используют чтобы скрыть информацию о себе. '});
        $('#forw_text').tooltip({txt: 'IP адрес, стоящий за пределами прокси можно подделать. Вы можете включить эту опцию, и таким образом попытаться обнаружить злоумышленика, который использует прокси-сервер. Однако, эти данные могут быть поделланы и  быть использованы против вас самих. <span style = "color:red">Если включаете эту опцию - примите это во внимание!</span>'});
        $('#forw_text').tooltip({txt: 'IP адрес, стоящий за пределами прокси можно подделать. Вы можете включить эту опцию, и таким образом попытаться обнаружить злоумышленика, который использует прокси-сервер. Однако, эти данные могут быть поделланы и  быть использованы против вас самих. <span style = "color:red">Если включаете эту опцию - примите это во внимание!</span>'});
        $('#htpasswd_pass').tooltip({txt: 'Дополнительная защита блокирующая любую работу скрипта в папке admin на уровне сервера до тех пор, пока пользователь не веедет пароль. Логин по умолчанию в нашем случае - admin'});



    });

</script>
<span class="content_header">[#global_properties_CMS#] &rarr; <span class="black">Настройки безопасности</span></span>
<div id="page_container">
<form action="%action%" method="post" id="edit_sec_form">


    <div id="content_container">

        <div id="page_tabs" style="min-width:920px">
            <ul>
                <li><a href="#block_matrix">Защита и фильтрация</a></li>
                <li><a href="#ban_options">Настройки бана</a></li>
                <li><a href="#notice_options">Уведомления</a></li>
                <li><a href="#admin_login_options">Вход в админку</a></li>
                <li><a href="#cms_other_settings">Прочее</a></li>
                <li><a href="#view_ips">Заблокированные IP</a></li>
                <li><a href="#view_allow">Исключения</a></li>
                <li><a href="#view_logs">Логи</a></li>
            </ul>
        </div>




            <div id="block_matrix" class="content">

                <span class="header_block">Настройки защиты</span>

                <label>Защищать от следующих атак:</label>


                <table class="admin_table" >
                    <tr>
                        <th>Метод/Тип атаки</th>
                        <th class="xss">XSS атака</th>
                        <th class="lfi">LFI / Traversal</th>
                        <th class="sql">SQL injection</th>
                        <th class="php">PHP injection</th>
                    </tr>
                    <tr>
                        <th class="get">GET</th>
                        <td><input type="checkbox" name="block[get][xss]"  value = "1" %checked_block_get_xss% /></td>
                        <td><input type="checkbox" name="block[get][lfi]"  value = "1" %checked_block_get_lfi% /></td>
                        <td><input type="checkbox" name="block[get][sql]"  value = "1" %checked_block_get_sql% /></td>
                        <td><input type="checkbox" name="block[get][php]"  value = "1" %checked_block_get_php%  /></td>
                    </tr>
                    <tr>
                        <th class="post">POST</th>
                        <td><input type="checkbox" name="block[post][xss]"  %checked_block_post_xss% /></td>
                        <td><input type="checkbox" name="block[post][lfi]"  %checked_block_post_lfi% /></td>
                        <td><input type="checkbox" name="block[post][sql]" %checked_block_post_sql% /></td>
                        <td><input type="checkbox" name="block[post][php]"  %checked_block_post_php% /></td>
                    </tr>
                    <tr>
                        <th class="cookie">COOKIE</th>
                        <td><input type="checkbox" name="block[cookie][xss]"  %checked_block_cookie_xss%  /></td>
                        <td><input type="checkbox" name="block[cookie][lfi]" %checked_block_cookie_lfi% /></td>
                        <td><input type="checkbox" name="block[cookie][sql]" %checked_block_cookie_sql% /></td>
                        <td><input type="checkbox" name="block[cookie][php]"  %checked_block_cookie_php% /></td>
                    </tr>
                    <tr>
                        <th class="server">SERVER</th>
                        <td><input type="checkbox" name="block[server][xss]" %checked_block_server_xss% /></td>
                        <td><input type="checkbox" name="block[server][lfi]" %checked_block_server_lfi%  /></td>
                        <td><input type="checkbox" name="block[server][sql]" %checked_block_server_sql% /></td>
                        <td><input type="checkbox" name="block[server][php]" %checked_block_server_php% /></td>
                    </tr>

                </table>
                <div class="content">


                    <label class ="tor">Блокировать сети TOR и смену IP адреса в рамках одной сессии </label>

                    <input id="block_tor" type="checkbox"  name="block_tor"   %checked_block_tor%>

                    %rules_in_admin%

                    %ignore_in_admin%
                    <fieldset>
                        <span class="header_block">Настройки фильтрации</span>
                        <label>Разрешенные теги </label>
                        <textarea id="tags_filter" cols="" rows="" style="width:95%; margin:5px auto 0px auto; height:20px;" name="tags_filter">%tags_filter%</textarea>
                    </fieldset>
                </div>



            </div>


            <div id="ban_options" class="content">

                <label>Банить пользователя в случае совершения следующих атак:</label>


                <table class="admin_table" >
                    <tr>
                        <th>Метод/Тип атаки</th>
                        <th class="xss">XSS атака</th>
                        <th class="lfi">LFI / Traversal</th>
                        <th class="sql">SQL injection</th>
                        <th class="php">PHP injection</th>
                    </tr>
                    <tr>
                        <th class="get">GET</th>
                        <td><input type="checkbox" name="ban[get][xss]"  %checked_ban_get_xss% /></td>
                        <td><input type="checkbox" name="ban[get][lfi]" %checked_ban_get_lfi% /></td>
                        <td><input type="checkbox" name="ban[get][sql]" %checked_ban_get_sql% /></td>
                        <td><input type="checkbox" name="ban[get][php]" %checked_ban_get_php%  /></td>
                    </tr>
                    <tr>
                        <th class="post">POST</th>
                        <td><input type="checkbox" name="ban[post][xss]"  %checked_ban_post_xss% /></td>
                        <td><input type="checkbox" name="ban[post][lfi]"  %checked_ban_post_lfi% /></td>
                        <td><input type="checkbox" name="ban[post][sql]" %checked_ban_post_sql% /></td>
                        <td><input type="checkbox" name="ban[post][php]"  %checked_ban_post_php% /></td>
                    </tr>
                    <tr>
                        <th class="cookie">COOKIE</th>
                        <td><input type="checkbox" name="ban[cookie][xss]"  %checked_ban_cookie_xss%  /></td>
                        <td><input type="checkbox" name="ban[cookie][lfi]" %checked_ban_cookie_lfi% /></td>
                        <td><input type="checkbox" name="ban[cookie][sql]" %checked_ban_cookie_sql% /></td>
                        <td><input type="checkbox" name="ban[cookie][php]"  %checked_ban_cookie_php% /></td>
                    </tr>
                    <tr>
                        <th class="server">SERVER</th>
                        <td><input type="checkbox" name="ban[server][xss]"  %checked_ban_server_xss% /></td>
                        <td><input type="checkbox" name="ban[server][lfi]"  %checked_ban_server_lfi%  /></td>
                        <td><input type="checkbox" name="ban[server][sql]"  %checked_ban_server_sql% /></td>
                        <td><input type="checkbox" name="ban[server][php]"  %checked_ban_server_php% /></td>
                    </tr>
                </table>
                <div class="content">

                    <fieldset>
                        <label for="ban_tor">Бан за использование сети TOR и смены IP адреса в рамках одной сессии </label>
                        <input id="ban_tor" type="checkbox" name="ban_tor" %checked_ban_tor%>
                    </fieldset>

                    <fieldset>
                        <label for="ban_subnet">Бан по подсети</label>
                        <input id="ban_subnet" type="checkbox" name="ban_subnet" %checked_ban_subnet%>
                    </fieldset>


                    <fieldset>
                        <label for="ban_forwarded_for">Пытаться определить реальный IP адрес (при использовании прокси или анонимайзера)</label>
                        <input id="ban_forwarded_for" type="checkbox" name="ban_forwarded_for" %checked_ban_forwarded_for% />
                    </fieldset>

                    <!--
                    Забыл реализовать! Как реализую, раскоментирую
                    <fieldset>
                        <label for="ban_admin_enter">Банить за множество попыток входа в админку?</label>
                        <input id="ban_admin_enter" type="checkbox" name="ban_admin_enter" %checked_ban_admin_enter% />
                    </fieldset>
                    !-->

                </div>


            </div>


            <div id="notice_options" class="content">

                <label>Уведомлять администратора в случае атак:</label>

                <table class="admin_table" >
                    <tr>
                        <th>Метод/Тип атаки</th>
                        <th class="xss">XSS атака</th>
                        <th class="lfi">LFI / Traversal</th>
                        <th class="sql">SQL injection</th>
                        <th class="php">PHP injection</th>
                    </tr>
                    <tr>
                        <th class="get">GET</th>
                        <td><input type="checkbox" name="notice[get][xss]" %checked_notice_get_xss% /></td>
                        <td><input type="checkbox" name="notice[get][lfi]" %checked_notice_get_lfi% /></td>
                        <td><input type="checkbox" name="notice[get][sql]" %checked_notice_get_sql% /></td>
                        <td><input type="checkbox" name="notice[get][php]" %checked_notice_get_php%  /></td>
                    </tr>
                    <tr>
                        <th class="post">POST</th>
                        <td><input type="checkbox" name="notice[post][xss]" %checked_notice_post_xss% /></td>
                        <td><input type="checkbox" name="notice[post][lfi]" %checked_notice_post_lfi% /></td>
                        <td><input type="checkbox" name="notice[post][sql]" %checked_notice_post_sql% /></td>
                        <td><input type="checkbox" name="notice[post][php]" %checked_notice_post_php% /></td>
                    </tr>
                    <tr>
                        <th class="cookie">COOKIE</th>
                        <td><input type="checkbox" name="notice[cookie][xss]" %checked_notice_cookie_xss%  /></td>
                        <td><input type="checkbox" name="notice[cookie][lfi]" %checked_notice_cookie_lfi% /></td>
                        <td><input type="checkbox" name="notice[cookie][sql]" %checked_notice_cookie_sql% /></td>
                        <td><input type="checkbox" name="notice[cookie][php]" %checked_notice_cookie_php% /></td>
                    </tr>
                    <tr>
                        <th class="server">SERVER</th>
                        <td><input type="checkbox" name="notice[server][xss]" %checked_notice_server_xss% /></td>
                        <td><input type="checkbox" name="notice[server][lfi]" %checked_notice_server_lfi%  /></td>
                        <td><input type="checkbox" name="notice[server][sql]" %checked_notice_server_sql% /></td>
                        <td><input type="checkbox" name="notice[server][php]" %checked_notice_server_php% /></td>
                    </tr>
                </table>
                <div class="content">

                    <!--
                    <fieldset>
                        <label for="notice_admin_enter">Извещать о множестве попыток входа в админку?</label>
                        <input id="notice_admin_enter" type="checkbox" name="notice_admin_enter" %checked_notice_admin_enter% />
                    </fieldset>
                    !-->

                    <fieldset>
                        <label for="notice_mail">По эл. почте</label>
                        <input id="notice_mail" type="checkbox" name="notice_mail" %checked_notice_mail% />
                    </fieldset>

                    <fieldset>
                        <label for="notice_sms">По SMS</label>
                        <input id="notice_sms" type="checkbox" name="notice_sms" %checked_notice_sms% />
                    </fieldset>


                    <fieldset>
                        <label for="notice_push">С помощью push</label>
                        <input id="notice_push" type="checkbox" name="notice_push" %checked_notice_push%>
                    </fieldset>


                </div>
            </div>


            <div id="admin_login_options" class="content">

                <fieldset>
                    <label>Способ шифрования пароля</label>
                    <select name="login_pass_crypt" id="login_pass_crypt" %pass_disabled_value%>
                            %options_crypt%
                    </select>
                </fieldset>

                <fieldset>
                    <label >Секретный ключ (доступен только здесь)</label>
                    <input type="text" id="secret_key" name="login_secret_key" value="%sectet_key_value%" %pass_disabled_value%>
                </fieldset>

                <fieldset>
                    <label>Дополнительная авторизация по SMS</label>
                    <input id ="login_sms" type="checkbox" name="login_sms" %checked_sms_auth%>
                </fieldset>


                <fieldset>
                    <label>Ввод капчи в админке</label>
                    <input id="login_captcha" type="checkbox" name="login_captcha"  %checked_captcha_auth%>
                </fieldset>

                <fieldset>

                    <label>Заход только с определенного IP адреса/сети (укажите, если надо)</label>
                    <input type="text" id="login_ip" name="login_ip" value="%login_ip_value%">
                </fieldset>





                <span id = "htpasswd_pass" class="header_block">Дополнительная защита .htpasswd (при указании будет сгенерировано)</span>

                <fieldset>
                    <label>Пароль</label>
                    <input type="text" name="htpasswd_pass" value="">
                </fieldset>
            </div>



            <div id = "view_ips">

                %banned%

            </div>


        <div id = "view_allow">

            %view_allow%

        </div>
            <div id="view_logs" class="content">
                <fieldset>
                    <label for="mail">Логи входа в админку </label>
                    <br/>
        <textarea id="mail" style="width: 95%; height: 120px"  >
%login_logs%
        </textarea>
                </fieldset>



                <table class="admin_table" >
                    <tr>
                        <th colspan="2">Логи запрещенных действий</th>
                    </tr>
                    <tr>
                        <td>Лог XSS атак</td><td>%download_xss%</td>
                    </tr>
                    <tr>
                        <td class="lfi">Лог LFI / Traversal атак</td> <td style="vertical-align: top">%download_lfi%</td>
                    </tr>
                    <tr>
                        <td class="sql">Лог SQL injection атак</td> <td style="vertical-align: top">%download_sql%</td>
                    </tr>
                    <tr>
                        <td class="php">Лог PHP injection атак</td> <td style="vertical-align: top">%download_php%</td>
                    </tr>
                    <tr>
                        <td class="ip">Лог смены ip адресов</td> <td style="vertical-align: top">%download_tor%</td>
                    </tr>
                    <tr>
                        <td class="ddos">Лог попыток ddos</td> <td>%download_ddos%</td>
                    </tr>
                </table>


            </div>



            <div id="cms_other_settings" class="content">




                <span class="header_block">Настройки Email уведомлений</span>
                <fieldset>
                    <label>Почта </label>
                    <input type="text" name ="other_mail" value="%mail_value%">
                </fieldset>

                <span class="header_block">Настройки SMS уведомлений</span>
                <fieldset>
                    <label>id в SMS.ru </label>
                    <input id="other_sms_login" type="text" value="%sms_login_value%" name="other_sms_login">
                </fieldset>


                <fieldset>
                    <label>Телефон для отправки логов </label>
                    <input id="other_phone" type="text" value="%other_phone%" name="other_phone">
                </fieldset>

                <span class="header_block">Настройки Push уведомлений</span>
                <fieldset>
                    <label>id в Pushover </label>
                    <input id="other_push_login" type="text" value="%push_login_value%" name="other_push_login">
                </fieldset>


            </div>

            <fieldset class="page_submit_field">
                <input type="submit" class="submit" value="[#global_prop_label_save#]" id="edit_ini_buttonsave">
            </fieldset>
</div>
</form>
</div>
<!-- @rules_in_admin -->
<fieldset>
    <label>Правила блокировки XSS атак: </label>
    <textarea id="xss_rules" cols="" rows="" style="width:95%; margin:5px auto 0px auto; height:20px;" name="xss_rules">%xss_rules%</textarea>
</fieldset>

<fieldset>
    <label>Правила блокировки LFI / Traversal: </label>
    <textarea id="lfi_rules" cols="" rows="" style="width:95%; margin:5px auto 0px auto;  height:20px;" name="lfi_rules">%lfi_rules%</textarea>
</fieldset>


<fieldset>
    <label>Правила блокировки SQL injection: </label>
    <textarea id="sql_rules" cols="" rows="" style="width:95%; margin:5px auto 0px auto;  height:20px;" name="sql_rules">%sql_rules%</textarea>
</fieldset>

<fieldset>
    <label>Правила блокировки PHP injection: </label>
    <textarea id="php_rules" cols="" rows="" style="width:95%; margin:5px auto 0px auto; height:20px;" name="php_rules">%php_rules%</textarea>
</fieldset>



<!-- @ignore_in_admin -->
<fieldset>
    <label>Игнорировать следующие GET переменные: </label>
    <textarea id="ignore_get" cols="" rows="" style="width:95%; margin:5px auto 0px auto; height:20px;" name="ignore_get">%ignore_get%</textarea>
</fieldset>

<fieldset>
    <label>Игнорировать следующие POST переменные: </label>
    <textarea id="ignore_post" cols="" rows="" style="width:95%; margin:5px auto 0px auto; height:20px;" name="ignore_post">%ignore_post%</textarea>
</fieldset>

<fieldset>
    <label>Игнорировать следующие COOKIE переменные: </label>
    <textarea id="ignore_cookie" cols="" rows="" style="width:95%; margin:5px auto 0px auto; height:20px;" name="ignore_cookie">%ignore_cookie%</textarea>
</fieldset>


<fieldset>
    <label >Игнорировать следующие SERVER переменные: </label>
    <textarea id="ignore_server" cols="" rows="" style="width:95%; margin:5px auto 0px auto; height:20px;" name="ignore_server">%ignore_server%</textarea>
</fieldset>

<!-- @banned -->

<table class="admin_table" >
    <tr>
        <th>Дата блокировки</th>
        <th>Дата разблокировки</th>
        <th>IP адрес</th>
        <th>Еще IP адрес</th>
        <th>User Agent</th>
        <th>Пометка</th>
        <th>Действия</th>
    </tr>
    %banned_rows%
</table>
<input type ="button" value = "Добавить адрес"  onclick="jspub_click('add_ip_ban')" />


<!-- @banned_rows -->
<tr>
    <td>%date_value%</td>
    <td>%date_unbanned_value%</td>
    <td>%ip_value%</td>
    <td>%forvarded_for_value%</td>
    <td>%user_agent_value%</td>
    <td>%note_value%</td>
    <td>%actions%</td>
</tr>

<!-- @log_button -->

<a class = "button" href = "%get_url%" %color%>Cкачать (%filesize%)</a>
<a class = "button" href = "%del_url%" style  ="background: url('/admin/templates/default/images/trash.png') 30% center no-repeat;">
    &nbsp;
</a>

<!-- @add_ip_ban -->


<script type="text/javascript">
    $(function() {
        $( "#date" ).datepicker({
            dateFormat:"yy.mm.dd"
        });
    });

    function validateTime(value) {
        return /^[0-2]?[0-9]:[0-5]?[0-9]:[0-5]?[0-9]$/.test(value);
    }

    function validateDate(value) {
        return /^[0-3]?[0-9]\.[0-1]?[0-9]\.[1-2][0-9][0-9][0-9]$/.test(value);
    }

    function submitMyForm()
    {
        if (validateDate($('#date').val()) && validateTime($('#time').val()))
            return form_submit_include_content();
        else
        {
            santaShowPopupHint('Error', 'news_error_incorrect_datetime',0);
            return false;
        }
    }

</script>

<span class="content_header">[#global_properties_CMS#] &rarr; <span class="black">Настройки безопасности</span></span>
<div id="page_container">

        <div  class="content">
            <form action="%action%" method="post" id="add_ip_form">
            <fieldset>
                <label>IP</label>
                <input type="text" name = "ip" />
            </fieldset>


            <fieldset>
                <label>Дата разблокировки</label>
                <input type="text" id="date" name="date_unblock">
            </fieldset>

                <fieldset>
                    <label>Время разблокирвки</label>
                    <input type="text"  name="time_ublock">
                </fieldset>
                <fieldset>
                    <label>Комментарий</label>
                    <br/>
                    <textarea name = "comment" style="width: 270px"></textarea>
                </fieldset>

                <input  class = "submit ui-button ui-widget ui-state-default ui-corner-all" type = "button" onclick="santaFormSubmit('add_ip_form')"  value="Сохранить"/>

            </form>
        </div>

</div>


<!-- @edit_ip_ban -->
<script type="text/javascript">
    $(function() {
        $( "#date" ).datepicker({
            dateFormat:"yy.mm.dd"
        });
    });

    function validateTime(value) {
        return /^[0-2]?[0-9]:[0-5]?[0-9]:[0-5]?[0-9]$/.test(value);
    }

    function validateDate(value) {
        return /^[0-3]?[0-9]\.[0-1]?[0-9]\.[1-2][0-9][0-9][0-9]$/.test(value);
    }

    function submitMyForm()
    {
        if (validateDate($('#date').val()) && validateTime($('#time').val()))
            return form_submit_include_content();
        else
        {
            santaShowPopupHint('Error', 'news_error_incorrect_datetime',0);
            return false;
        }
    }

</script>

<span class="content_header">[#global_properties_CMS#] &rarr; <span class="black">Настройки безопасности</span></span>
<div id="page_container">

    <div  class="content">
        <form action="%action%" method="post" id="edit_ip_form">
            <fieldset>
                <label>IP</label>
                <input type="text" name = "ip" value = "%ip_adress%"/>
            </fieldset>


            <fieldset>
                <label>Дата разблокировки</label>
                <input type="text" id="date" name="date_unblock" value="%date%">
            </fieldset>

            <fieldset>
                <label>Время разблокирвки</label>
                <input type="text"  name="time_ublock" value="%time%">
            </fieldset>
            <fieldset>
                <label>Комментарий</label>
                <br/>
                <textarea name = "comment" style="width: 270px">%note%</textarea>
            </fieldset>

            <input  class = "submit ui-button ui-widget ui-state-default ui-corner-all" type = "button" onclick="santaFormSubmit('edit_ip_form')"  value="Сохранить"/>

        </form>
    </div>

</div>

<!-- @view_allow -->
<table class="admin_table" >
    <tr>
        <th>IP адрес/хост</th>
        <th>Блокировка</th>
        <th>Лог</th>
        <th>Пометка</th>
        <th>Действия</th>
    </tr>
    %allow_rows%
</table>
<input type ="button" value = "Добавить адрес"  onclick="jspub_click('add_allow')" />

<!-- @allow_rows -->
<tr>
    <td>%host%</td>
    <td>%block%</td>
    <td>%log%</td>
    <td>%comment%</td>
    <td>%actions%</td>
</tr>





<!-- @add_allow -->
<span class="content_header">[#global_properties_CMS#] &rarr; <span class="black">Настройки безопасности</span></span>
<div id="page_container">

    <div  class="content">
        <form action="%action%" method="post" id="add_allow">
            <fieldset>
                <label>IP/хост</label>
                <input type="text" name = "host" />
            </fieldset>


            <fieldset>
                <label>Блокировать атаки (рекомендуется блокировать!) </label>
                <input type="checkbox" id="block" value="1" name="block">
            </fieldset>

            <fieldset>
                <label>Вести лог</label>
                <input type="checkbox"  name="log" value="1"  name = "log">
            </fieldset>
            <fieldset>
                <label>Комментарий</label>
                <br/>
                <textarea name = "comment" style="width: 270px"></textarea>
            </fieldset>

            <input  class = "submit ui-button ui-widget ui-state-default ui-corner-all" type = "button" onclick="santaFormSubmit('add_allow')"  value="Сохранить"/>

        </form>
    </div>

</div>




<!-- @edit_allow -->
<span class="content_header">[#global_properties_CMS#] &rarr; Настройки безопасности &rarr; <span class="black">Редактировать исключение из правил</span></span>
<div id="page_container">

    <div  class="content">
        <form action="%action%" method="post" id="edit_allow">
            <fieldset>
                <label>IP/хост</label>
                <input type="text" name = "host" value="%host%" />
            </fieldset>


            <fieldset>
                <label>Блокировать атаки (рекомендуется блокировать!) </label>
                <input type="checkbox" id="block" name="block" value="1" %checked_block% >
            </fieldset>

            <fieldset>
                <label>Вести лог</label>
                <input type="checkbox"  name="log" name = "log" value="1" %checked_log% >
            </fieldset>
            <fieldset>
                <label>Комментарий</label>
                <br/>
                <textarea name = "comment" style="width: 270px">%comment%</textarea>
            </fieldset>

            <input  class = "submit ui-button ui-widget ui-state-default ui-corner-all" type = "button" onclick="santaFormSubmit('edit_allow')"  value="Сохранить"/>

        </form>
    </div>

</div>
