
<!-- @select_params_edit_line -->
%val_name% <a href="#" onclick="jspub_confirm('%action_del%','[#auth_user_field_select_del_option_confirm#] %val_name_escape%?')"><img src="/admin/templates/default/images/icon_delet.gif" alt="[#auth_user_field_select_del_option_confirm#] %val_name_escape%"/></a><br>
        
<!-- @addparam_enum_new -->
<div id="enum_props_div" style="display: none;">
    [#auth_user_field_select_new_options#]<br>
    <textarea style="width: 300px;" name="select_values" id="select_values"></textarea>
</div>

<!-- @addparam_enum -->
<div id="enum_props_div" style="display: none;">
    [#auth_user_field_select_options#]<br>
    %vals%
    [#auth_user_field_select_new_option#]<input type="text" name="new_select_option">

</div>


<!-- @addparam_image -->
<div id="addparam_image" style="display: none;">

    <fieldset>
        <label for="pict_source_isset">[#common_edit_property_pict_source_create_label#]</label>
        <input type="checkbox" name="pict_source_isset" id="pict_source_isset" %source_check% onchange="pict_on_off('pict_source')">

        <div id="pict_source" style="display:none; border:1px solid #ccc; margin:40px 0 0 0; border-radius:6px; padding:0 10px; clear:both;">
            <fieldset>
                <label>[#common_edit_property_pict_width_and_height#]:<br><small>[#common_edit_property_pict_width_and_height_help#]</small></label>
                <input type="text" style="width:121px;" name="pict_source_width" id="pict_source_width" value="%pict_source_width%"><span style="float:left; display:block; padding:5px;">x</span><input type="text" style="width:121px;" name="pict_source_height" id="pict_source_height" value="%pict_source_height%">
            </fieldset>

            <fieldset>
                <label for="pict_source_transparency">[#common_edit_property_pict_transparency#]:</label>
                <input type="text" style="width:25px;" name="pict_source_transparency" id="pict_source_transparency" value="%pict_source_transparency%">
            </fieldset>

            <fieldset>
                <label for="pict_source_water_add">[#common_edit_property_pict_watermark_add#]:</label>
                <select id="pict_source_water_add" name="pict_source_water_add">
                    <option value="0" %pswas0%>[#common_edit_property_pict_watermark_val1#]</option>
                    <option value="1" %pswas1%>[#common_edit_property_pict_watermark_val2#]</option>
                    <option value="2" %pswas2%>[#common_edit_property_pict_watermark_val3#]</option>
                </select>
            </fieldset>

            <fieldset>
                <label for="path_source_water_path">[#common_edit_property_pict_watermark_path#]:</label>
                <input type="text" id="path_source_water_path" value="%path_source_water_path%" name="path_source_water_path">
            </fieldset>

            <fieldset>
                <label for="pict_source_water_position">[#common_edit_property_pict_watermark_place#]</label>
                <select id="pict_source_water_position" name="pict_source_water_position">
                    <option value="0" %pswps0%>[#common_edit_property_pict_watermark_place_val0#]</option>
                    <option value="1" %pswps1%>[#common_edit_property_pict_watermark_place_val1#]</option>
                    <option value="2" %pswps2%>[#common_edit_property_pict_watermark_place_val2#]</option>
                    <option value="3" %pswps3%>[#common_edit_property_pict_watermark_place_val3#]</option>
                    <option value="4" %pswps4%>[#common_edit_property_pict_watermark_place_val4#]</option>
                </select>
            </fieldset>
        </div>
    </fieldset>

    <fieldset>
        <label for="pict_big_isset">[#common_edit_property_pict_big_create_label#]</label>
        <input type="checkbox" name="pict_big_isset" id="pict_big_isset" %big_check% onchange="pict_on_off('pict_big')">

        <div id="pict_big" style="display:none; border:1px solid #ccc; margin:40px 0 0 0; border-radius:6px; padding:0 10px; clear:both;">
            <fieldset>
                <label for="pict_big_width">[#common_edit_property_pict_width_and_height#]:<br><small>[#common_edit_property_pict_width_and_height_help#]</small></label>
                <input type="text" style="width:121px;" name="pict_big_width" id="pict_big_width" value="%pict_big_width%"><span style="float:left; display:block; padding:5px;">x</span><input type="text" style="width:121px;" name="pict_big_height" id="pict_big_height" value="%pict_big_height%">
            </fieldset>

            <fieldset>
                <label for="pict_big_transparency">[#common_edit_property_pict_transparency#]:</label>
                <input type="text" style="width:25px;" name="pict_big_transparency" id="pict_big_transparency" value="%pict_big_transparency%">
            </fieldset>

            <fieldset>
                <label for="pict_big_water_add">[#common_edit_property_pict_watermark_add#]:</label>
                <select id="pict_big_water_add" name="pict_big_water_add">
                    <option value="0" %pbwas0%>[#common_edit_property_pict_watermark_val1#]</option>
                    <option value="1" %pbwas1%>[#common_edit_property_pict_watermark_val2#]</option>
                    <option value="2" %pbwas2%>[#common_edit_property_pict_watermark_val3#]</option>
                </select>
            </fieldset>

            <fieldset>
                <label for="path_big_water_path">[#common_edit_property_pict_watermark_path#]:</label>
                <input type="text" id="path_big_water_path" value="%path_big_water_path%" name="path_big_water_path">
            </fieldset>

            <fieldset>
                <label for="pict_big_water_position">[#common_edit_property_pict_watermark_place#]</label>
                <select name="pict_big_water_position" id="pict_big_water_position">
                    <option value="0" %pbwps0%>[#common_edit_property_pict_watermark_place_val0#]</option>
                    <option value="1" %pbwps1%>[#common_edit_property_pict_watermark_place_val1#]</option>
                    <option value="2" %pbwps2%>[#common_edit_property_pict_watermark_place_val2#]</option>
                    <option value="3" %pbwps3%>[#common_edit_property_pict_watermark_place_val3#]</option>
                    <option value="4" %pbwps4%>[#common_edit_property_pict_watermark_place_val4#]</option>
                </select>
            </fieldset>
        </div>
    </fieldset>

    <fieldset>
        <label for="pict_small_isset">[#common_edit_property_pict_small_create_label#]</label>
        <input type="checkbox" name="pict_small_isset" id="pict_small_isset" %small_check% onchange="pict_on_off('pict_small')">
        <div id="pict_small" style="display:none;  border:1px solid #ccc; margin:40px 0 0 0; border-radius:6px; padding:0 10px; clear:both;">

            <fieldset>
                <label>[#common_edit_property_pict_width_and_height#]:<br><small>[#common_edit_property_pict_width_and_height_help#]</small></label>
                <input type="text" name="pict_small_width" style="width:121px;" id="pict_small_width" value="%pict_small_width%"><span style="float:left; display:block; padding:5px;">x</span><input type="text" name="pict_small_height" style="width:121px;" id="pict_small_height" value="%pict_small_height%">
            </fieldset>
        </div>
    </fieldset>

    <script type="text/javascript">
        $(function() {
            pict_on_off('pict_small');
            pict_on_off('pict_big');
            pict_on_off('pict_source');
        });
    </script>

</div>

<!-- @content -->

<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#auth_modul_base_name#]</span> (%submodul_name%)</span>
<div id="page_container">
    <div id="content_container">
        <div class="content">
            <h3>[#auth_edit_user_field#]</h3>


<script type="text/javascript">
 function selectChange()
 {
     switch ($('#type_field').val())
     {
         case 'select':
             $('#addparam_image').hide();
             $('#enum_props_div').show();
             break;
         case 'image':
             $('#addparam_image').show();
             $('#enum_props_div').hide();
             break;
         default :
             $('#addparam_image').hide();
             $('#enum_props_div').hide();
             break;
     }
 }
 function pict_on_off(id_object)
 {
     if ($('#'+id_object+'_isset').attr("checked"))
         $('#'+id_object).show();
     else
         $('#'+id_object).hide();
 }
 selectChange();
</script>
<form action="%action%" method="post" id="auth_field_form">
<input type="hidden" name="id" value="%id%">
<table>
<tr>
    <td>[#auth_user_field_caption#]</td>
    <td><input type="text" name="caption" value="%caption%"></td>
</tr>
<tr>
    <td>[#auth_user_field_id#]</td>
    <td><input type="text" name="id_field" value="%id_field%"></td>
</tr>
<tr>
    <td>[#auth_user_field_type#]</td>
    <td>
        <select id="type_field" name="type_field" onChange="selectChange();"  %type_field_disabled%>
            %types%
        </select>

    </td>
</tr>

<tr>
    <td>[#auth_user_field_only_admin#]</td>
    <td><input type="checkbox" name="only_admin" %only_admin_checked%></td>
</tr>

<tr>
    <td>[#auth_user_field_required#]</td>
    <td><input type="checkbox" name="required" %required_checked%></td>
</tr>

<tr>
    <td colspan="2" align="center">

    </td>
</tr>
</table>

    %addparam_enum%
    %addparam_image%


<div style="margin-left: auto;margin-right: auto;width: 250px;">
    <input type="button" value="[#auth_user_field_save_button#]" onclick="santaFormSubmit('auth_field_form');">
</div>
</form>

</div>
</div>
</div>